{% extends 'base.html' %}  <!-- Isso deve vir antes de qualquer conteúdo -->
{% block content %}
    <h2>Esta é a página de Board Games!</h2>
    <hr>
    <p><strong>Jogos mais Aguardados do Momento!!!</strong></p>

    <!-- Layout para a imagem e os dados -->
    <div class="boardgame-container">
        <!-- Exibir a Imagem do jogo -->
        <div class="boardgame-image">
            <img src="{{ url_for('static', filename=boardgame['imagem_jogo']) }}" alt="{{ boardgame['Titulo'] }}" width="500">
        </div>

        <!-- Exibir as informações do Jogo -->
        <div class="boardgame-info">
            
            {% for k, v in boardgame.items() %}
                {% if k != 'imagem_jogo' %}  <!-- Verifica se a chave não é a da imagem -->
                    <details>
                        <summary>{{ k }}</summary>
                        <p>{{ v }}</p>
                    </details>
                {% endif %}
            {% endfor %}
            
            <p> O Jogo {{ boardgame['Título'] }} lançado a {{ 2025 - boardgame['Ano'] }} anos.</p>
            <p> Desejo de Compra de: </p>
            <ol>
                {% for c in interessados_em_comprar %}
                    <li>{{ c }}</li>
                {% endfor %}
            </ol>
        </div>
    </div>

    <hr>
    <h3> Reservar Produto: </h3>
    <form action="{{ url_for('boardgames') }}" method="POST">
        <label for="interessado">Comprador:</label>
        <input type="text" name="interessado">
        <input type="submit" value="Cadastrar">
    </form>
    <br>
{% endblock %}
