{% extends 'base.html' %}
{% block content %}
        <div class="container" style="background-color: #f0f0f0; border-radius: 8px;">
            <div calss ="row">
                <div class="col-md-6 m-auto">
                    <a href="{{url_for('apiboardgames')}}" class="btn btn-dark">Todos os Jogos:</a><br><br>
                    <div class="card">
                        <img src="{{binfo.thumbnail}}">
                        <div class="card-body m-auto">
                            <h3>{{binfo.title}}</h3>
                            <p>Genêro: {{binfo.genre}}</p>
                            <p>Descrição: {{binfo.short_description}}</p>
                            <p>Plataforma: {{binfo.platform}}</p>
                            <p>Editora: {{binfo.publisher}}</p>
                            <p>Data de Lançamento: {{binfo.release_date}}</p>
                            <a href="{{binfo.freetogame_profile_url}}" class="btn btn-danger"
                              >Jogar agora!</a>
                            <!-- Tentei achar uma API de BoardGame, mas só achei em formato XML mas não consegui converter para JSON -->
                        <!--<p>Ano; {{binfo.year}}</p>
                            <p>Idade: {{binfo.age}}</p>
                            <p>Designer: {{binfo.designer}}</p>
                            <p>Artista: {{binfo.artist}}</p>
                            <p>Editora: {{binfo.publisher}}</p>
                            <p>Domínio: {{binfo.domain}}</p>
                            <p>Mecãnica: {{binfo.machanics}}</p>
                            <p>Categoria: {{binfo.category}}</p>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
