{% extends 'base.html' %}  <!-- Isso deve vir antes de qualquer conteúdo -->
{% block content %}
    <h2>Cadastro de Board Games</h2>
    <hr>
    <br>
    <form action="{{url_for('cadboardgames')}}", method="POST", enctype="multipart/form-data">
        <div class="form-container">
            <div class="line">
                <label for="titulo">Título:</label>
                <input type="text" name="titulo" required>
            </div>
            <div class="line">
                <label for="ano">Ano:</label>
                <input type="text" name="ano" required>
            </div>
            <div class="line">
                <label for="idade">Idade:</label>
                <input type="text" name="idade" required>
            </div>
        </div>

        <div class="form-container">
            <div class="line">
                <label for="designer">Designer:</label>
                <input type="text" name="designer" required>
            </div>
            <div class="line">
                <label for="artista">Artista:</label>
                <input type="text" name="artista" required>
            </div>
        </div>

        <div class="form-container">
            <div class="line">
                <label for="editora">Editora:</label>
                <input type="text" name="editora" required>
            </div>
            <div class="line">
                <label for="dominio">Domínio:</label>
                <input type="text" name="dominio" required>
            </div>
        </div>

        <div class="form-container">
            <div class="line">
                <label for="mecanica">Mecânica:</label>
                <input type="text" name="mecanica" required>
            </div>
            <div class="line">
                <label for="categoria">Categoria:</label>
                <input type="text" name="categoria" required>
            </div>
        </div>

        <!-- Campo para upload da imagem -->
        <div class="form-container">
            <div class="line">
                <label for="imagem_jogo">Imagem do Jogo:</label>
                <input type="file" name="imagem_jogo" accept="image/*" required>
            </div>
        </div>

        <div class="form-container">
            <input type="submit" value="Cadastrar">
        </div>
    </form>
    <br>
    <hr>
    <h4>Jogos Cadastrados:</h4>
    {% for boardgame in boardgamelist %}
    <div class="boardgame-container">
        <!-- Exibir a Imagem do Jogo -->
        <div class="boardgame-image">
            <img src="{{ url_for('static', filename=boardgame['imagem_jogo']) }}" alt="{{ boardgame['Titulo'] }}" width="500">
        </div>

        <!-- Exibir as informações do Jogo -->
        <div class="boardgame-info">
            <p><strong>Título:</strong> {{ boardgame.Titulo }}</p>
            <p><strong>Ano:</strong> {{ boardgame.Ano }}</p>
            <p><strong>Idade:</strong> {{ boardgame.Idade }}</p>
            <p><strong>Designer:</strong> {{ boardgame.Designer }}</p>
            <p><strong>Artista:</strong> {{ boardgame.Artista }}</p>
            <p><strong>Editora:</strong> {{ boardgame.Editora }}</p>
            <p><strong>Dominio:</strong> {{ boardgame.Dominio }}</p>
            <p><strong>Mecanica:</strong> {{ boardgame.Mecanica }}</p>
            <p><strong>Categoria:</strong> {{ boardgame.Categoria }}</p>
        </div>
    </div>
    <br><br>
{% endfor %}
{% endblock content %}

