{% extends 'base.html' %}
{% block content %}
<div class="col-md-6 m-auto">
    <h3 style="text-align: center;">Editar Cadastro:</h3>
    <br>
    <form action ="{{url_for('edit', id=b.id)}}" method="POST">
        <input type="text" name="titulo" value="{{b.titulo}}" class="form-control" required>
        <input type="number" name="ano" value="{{b.ano}}"  min="1970" max="2099" class="form-control" required>
        <input type="text" name="idade" value="{{b.idade}}" class="form-control" required>
        <input type="text" name="designer" value="{{b.designer}}" class="form-control" required>
        <input type="text" name="artista" value="{{b.artista}}" class="form-control" required>
        <input type="text" name="editora" value="{{b.editora}}" class="form-control" required>
        <input type="text" name="dominio" value="{{b.dominio}}" class="form-control" required>
        <input type="text" name="mecanica" value="{{b.mecanica}}" class="form-control" required>
        <input type="text" name="categoria" value="{{b.categoria}}" class="form-control" required>
        <!-- Exibir imagem atual -->
        {% if b.imagens %}
            <p>Imagem atual:</p>
            {% for img in b.imagens %}
                <img src="{{ url_for('static', filename=img.caminho) }}" width="150">
            {% endfor %}
        {% endif %}

        <!-- Campo para trocar a imagem -->
        <label for="imagem_jogo">Nova imagem (opcional):</label>
        <input type="file" name="imagem_jogo" id="imagem_jogo" class="form-control">
        <input type="float" name="preco" value="{{b.preco}}" min=0 step="0.01" class="form-control" required>
        <input type="number" name="quantidade" placeholder="Quantidade" class="form-control" required>
        <br>
        <a href="{{url_for('edit', id=b.id)}}" onclick="return confirm('Confirma as Alterações?')">
            <input type="submit" value="Alterar" class="btn btn-warning"></a>
        <a href="{{url_for('estoque')}}"><input type="button" value="Cancelar" class="btn btn_danger"></a>

    </form>
</div>
{% endblock content %}